@model IEnumerable<UTS_PLOO_151524025_Reka_Alamsyah.Models.Supplier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Suppliers", FormMethod.Get))
{<p>Find by Name :</p>
    <div class="input-sm input-group">
        @Html.TextBox("Search")
        <input type="submit" value="Search" />
    </div>
    <br />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.supplier_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier_description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.supplier_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplier_description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.supplier_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.supplier_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.supplier_id })
            </td>
        </tr>
    }

</table>
